@font-face {
    font-family: 'basier square';
    src: url('../../public/fonts/basiersquare-medium-webfont.eot');
    src: url('../../public/fonts/basiersquare-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/basiersquare-medium-webfont.woff2') format('woff2'),
         url('../../public/fonts/basiersquare-medium-webfont.woff') format('woff'),
         url('../../public/fonts/basiersquare-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'basier square';
    src: url('../../public/fonts/basiersquare-regular-webfont.eot');
    src: url('../../public/fonts/basiersquare-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../public/fonts/basiersquare-regular-webfont.woff2') format('woff2'),
         url('../../public/fonts/basiersquare-regular-webfont.woff') format('woff'),
         url('../../public/fonts/basiersquare-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
