body {
	font-family: "basier square";
	font-weight: 400;
	font-size: 20px;
}

.p-component .p-link{
	font-family: "basier square";
	font-weight: 500;
	font-size: 20px;

}

a {
	color: var(--blue-900) !important;
	text-decoration: none;
}

.p-slider {
	width: 150px;
}

.footer {
	font-size: 0.9rem;
   position:absolute;
   bottom:0;
   background:#f7f7f7;
   color: var(--gray-800);
}

.twitter-chip {
	font-size: 0.9rem;
	background: #1d9bf0;
	color: white;
	float: right;
}

.sitetitle {
	font-size: 1.5rem;
}
